.header-container{
    position: fixed;
    display: flex;
    /* background: rgb(7, 77, 80); */
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
    padding: 20px 10px;
}

.navlink{
    text-decoration: none;
    color: black;
}
