.movie-card{
    text-align: center;
    margin: 0 5px;
}

.movie-card >img {
    border-radius: 10px;
}


@media (min-width: 768px) {
    
    .movie-card >img {
        border-radius: 10px;
        width:250px;
        height:350px;
    }
}